body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.EditorPageLayout {
  margin-top: 20px;
  display: flex;
  height: 100%;
}
.EditorPageLayout-sideBar {
  border-right: 1px solid silver;
  margin-right: 20px;
  box-sizing: border-box;
  padding: 15px;
  width: 20%
}
.Editor-titleInput {
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.Editor {
  flex: 0.98;
}
.Editor-bodyInput {
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border-color: 1px solid gray;
  margin-bottom: 10px;
  font-family: monospace;
  height: 300px;
}
.Editor-saveButton {
  border: 0;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 12px;
  background-color: #42aaf4;
  color: white;
  text-transform: uppercase;
}
